<html> 
  <head> 
    <title>Idealize</title> 
    <style>canvas { width: 100%; height: 100% }</style> 
  </head> 
  <body> 
  <script src="js/three.min.js"></script> 
  <!-- <script src="js/d3.v3.min.js"></script>  -->
  <script src="js/underscore.js"></script> 
		<script type="x-shader/x-vertex" id="vertexShader">

			attribute vec4 center;
			varying vec4 vCenter;

			void main() {

				vCenter = center;
				gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

			}

		</script>

		<script type="x-shader/x-fragment" id="fragmentShader">

			#extension GL_OES_standard_derivatives : enable

			varying vec4 vCenter;

			float edgeFactorTri() {

				vec3 d = fwidth( vCenter.xyz );
				vec3 a3 = smoothstep( vec3( 0.0 ), d * 1.5, vCenter.xyz );
				return min( min( a3.x, a3.y ), a3.z );

			}

			float edgeFactorQuad1() {

				vec2 d = fwidth( vCenter.xy );
				vec2 a2 = smoothstep( vec2( 0.0 ), d * 1.5, vCenter.xy );

				return min( a2.x, a2.y );

			}

			float edgeFactorQuad2() {

				vec2 d = fwidth( 1.0 - vCenter.xy );
				vec2 a2 = smoothstep( vec2( 0.0 ), d * 1.5, 1.0 - vCenter.xy );

				return min( a2.x, a2.y );
			}

			void main() {

				if ( vCenter.w == 0.0 ) {

					gl_FragColor.rgb = mix( vec3( 1.0 ), vec3( 0.2 ), edgeFactorTri() );

				} else {

					gl_FragColor.rgb = mix( vec3( 1.0 ), vec3( 0.2 ), min( edgeFactorQuad1(), edgeFactorQuad2() ) );

				}

				gl_FragColor.a = 1.0;

			}

		</script>

  <script> 
    var camera, scene, renderer;
    var geometry, material, mesh, ideal;
    var group;

    var targetYRotation = targetXRotation = 0;
    var targetYRotationOnMouseDown = targetXRotationOnMouseDown = 0;

    var mouseX = 0, mouseY = 0;
    var mouseXOnMouseDown = 0;
    var zoomFactor = 1;

    var windowHalfX = window.innerWidth / 2;
    var windowHalfY = window.innerHeight / 2;

    var data = [[0,4],[1,4],[1,3],[3,3],[3,2],[4,2],[4,0]];
